<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
</head>
<body>
{{ include('partials/navbar.html.twig') }}
<div class="container">
    <div class="info"></div>
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('build/js/jQuery_3.3.1.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
